---
layout: default
title: Articles
---

<section class="post-list">
  <div class="container">
    <h2 class="category-title">Blog posts</h2>
    {% for post in site.posts %}
      {% unless post.next %}
        <h4 id="posts" class="category-title">{{ post.date | date: '%Y' }}</h4>
      {% else %}
        {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
        {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
        {% if year != nyear %}
          <h4 id="posts" class="category-title">{{ post.date | date: '%Y' }}</h4>
        {% endif %}
      {% endunless %}
      <article class="post-item">
        <span class="post-meta date-label">{{ post.date | date: "%b %d" }}</span>
        <div class="article-title"><a class="post-link" href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a></div>
      </article>
    {% endfor %}
  </div>
</section>
<section id="tweets" class="tweets">
  <div class="container">
    <h2 class="post-list-heading">Tweets</h1>
    <a class="twitter-timeline" href="https://twitter.com/mariokozjak" data-tweet-limit="5" data-chrome="nofooter noheader"></a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</section>