<section class="intro">
  <div class="container">
    <p class="lead">Hi, I'm Mario.</p>
    <p class="lead">I am a product-oriented software engineer based in Zagreb, Croatia.<br>
    I keep myself busy by building cloud infrastructure. Always on the lookout for new opportunities.
    Writing music and lyrics.</p>
    <p><a target="_blank" href="https://www.github.com/{{ site.github_username }}">Github →</a></p>
    <p><a target="_blank" href="https://www.linkedin.com/in/{{ site.linkedin_username }}">LinkedIn →</a></p>
    <p><a target="_blank" href="#">Twitter →</a></p>
  </div>
</section>
