<section class="intro">
  <div class="container">
    <p class="lead">Hi, I'm Mario.</p>
    <p class="lead">I am a product-oriented software engineer based in Zagreb, Croatia.<br>
    I keep myself busy by building cloud infrastructure. Always on the lookout for new opportunities.
    Writing music and lyrics for my band.</p>
    <p class="lead">Read more about me <a href="/about">here</a>.</p>
    <p><a target="_blank" href="https://www.github.com/{{ site.github_username }}">Github →</a></p>
    <p><a target="_blank" href="https://www.linkedin.com/in/{{ site.linkedin_username }}">LinkedIn →</a></p>
    <p><a target="_blank" href="https://www.twitter.com/{{ site.twitter_username }}">Twitter →</a></p>
    <p><a target="_blank" href="https://mario.kozjak.io/online-cv">Online CV →</a></p>
  </div>
</section>
