---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import "main";

code {
  font-size: 14px;
}

img[alt=picture] {
  display: block;
  margin: auto;
  margin-top: 36px;
  margin-bottom: 36px;
  width: 90%;
}